//colores
$fondoColor: #A50044;
$colorNav: #224079;
$colorFooter: #224079;
$fondoHover:#A50044;
$black: #121212;
$colorGrid: #224079;
$azul: #224079;
//decoracion
$deco: none;
// % tamaños
$completo: 100%;

